<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(flight) { %>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <% if (flight.departs < new Date()) { %>
          <td class='late'><%= flight.departs.toLocaleString() %></td>
          <%} else {%>
          <td><%= flight.departs.toLocaleString() %></td>
          <% } %>
        <td><a href="/flights/<%= flight._id %>">Details</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>