<%- include('../partials/header') %>

<h2>DEPARTURE</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs.toLocaleString() %></td>
    </tr>
  </tbody>
</table>
<br><br>

<H2>ARRIVALS</H2>
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(dest) { %>
        <tr>
          <td><%= dest.airport %></td>
          <td><%= dest.arrival.toLocaleString() %></td>
        </tr>
     <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
    
<br><br>
<H3>ADD DESTINATION</H3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label>Airport:
      <select name="airport" required>
        <option value="LAX">LAX - Los Angeles International Airport</option>
        <option value="JFK">JFK - John F. Kennedy International Airport</option>
        <option value="PHX">PHX - Phoenix Sky Harbor International Airport</option>
        <option value="LHR">LHR - London Heathrow Airport</option>
        <option value="DEL">DEL - Indira Gandhi International Airport</option>
      </select>
    </label><br>
  <label>Arrival:
    <input type="datetime-local" name="arrival" required>
  </label><br>
  <button type="submit">Add Destination</button>
</form>
<br><br>

<H2>TICKETS</H2>
<% if (tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>SEAT</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.seat %></td>
          <td>$<%= ticket.price %></td>
        </tr>
     <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h5>No Tickets Yet</h5>
  <% } %>

<form action="/flights/<%= flight._id %>/tickets/new">
  <input type="submit" value="Create a New Ticket" />
</form>




<%- include('../partials/footer') %>